.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7.5rem;
    background-color:#212529;

  }
  
  .logo {
    color: #ff4500;
    font-size: 20px;
    margin: 0;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    font-weight: 400;
    font-size: 16px;
    margin-right: 3rem;
    border-bottom: 3px solid transparent;
  }

  .nav-menu li:hover {
    border-bottom: 3px solid orangered;
  }
  
  .nav-menu li a {
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    
  }
  
  .profile-icon {
    position: relative;
    cursor: pointer;
  }
  
  .profile-dropdown {
    position: absolute;
    top: 100%;
    left:0;
    width: fit-content;
    list-style: none;
    padding: 10px;
    background-color:#212529;
    border-radius: 2px;
    display: none;
  }
  
  .profile-dropdown li {
    color: black;
    margin-bottom: 10px;
  }
  
  .profile-icon:hover .profile-dropdown {
    display: block;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 990px) {
    .header {   
      padding: 1.5rem 2rem;
    }
    .nav-menu {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
      position: absolute;
      top: 70px;
      left: -100%;
      opacity: 1;
      padding-left: 30px;
      padding-bottom: 10px;
      transition: all 0.3s ease-in-out;
      background-color:#212529;
      z-index: 1;
    }

    .nav-menu.active {
      top:73px;
      left: 0;
    }
    .nav-menu li {
        margin-bottom: 10px;
      /* margin: .4rem 0; */
    }
    .nav-menu li:last-child {
      margin-bottom: 0;
    }
  
    .hamburger {
      display: block;
    }
  
    .profile-icon {
      margin-top: 10px;
      margin-bottom: 10px;
      order: 1;
    }
  
    .profile-dropdown {
      top: 49px;
      right: 10px;
    }
  }
  