.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:#212529;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  
}

.logo {
  font-size: 20px;
  margin: 0;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  font-size: 16px;
  margin-right: 3rem;
  border-bottom: 3px solid transparent;
}

.nav-menu a {
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  padding:0 10px;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.nav-menu li:hover{
  border-bottom: 3px solid #ff4500;
  opacity: 1.5;
}
ul button{
    padding: 3px;
    border-radius: 10px;
}
.loginContainer:hover{
  opacity: .7;
}
.loginButton:hover{
  color:white
}


@media screen and (max-width: 990px) {
  .header {
    padding: 1.5rem 2rem;
  }
  .nav-menu {
    display: none;
  }
  ul button{
    margin-top: .2rem;
    margin-bottom: .2rem;
  }
  .nav-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    
    padding-left: 30px;
    padding-bottom: 10px;
    transition: all .3s ease-in-out;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  }
  .hamburger {
    display: block;
  }
}
